<!DOCTYPE html>
<html>
<head>
  <title>WorkFlowTool</title>
  <% theme = params[:theme] || :steelblue %>
  <%= netzke_init theme: theme %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
